<div class="footer container-fluid">
    <div class="row text-center">
        <div class="text big col-md-4">Helpful links</br>
        <div class="med">
            <a href="/">Home</a></br>
            <a href="/meals">Meal Packages</a></br>
            <a href="/login">Login</a></br>
            <a href="/register">Register</a></br>
            <a href="#">About</a></br>  
        </div>
        </div>
        <div class="text big col-md-4">Thank you for the visit.</br>
            <!--Replace this with your link to your blog -->
            <a class="med" href="#">Link to my Blog</a>
        </div>
        <div class="text big col-md-4 ">Find us on social media</br>
           <a href="#" class="fa fa-facebook"></a> 
           <a href="#" class="fa fa-twitter"></a>
           <a href="#" class="fa fa-snapchat-ghost"></a>
        </div>
    </div>
</div>
