<div class="row justify-content-center">
    <div class="col">
        <h2>Pick a package, choose your meals, achieve your goal - it's that easy!</h2>
        <br>
    </div>
</div>

<div class="row justify-content-center">
    {{#each package}}
    <div class="col-lg-3 item centre">
        <img src="img/uploads/{{this.img}}" alt="">
        <p class="strong">{{this.name}}</p>
        <p>{{this.description}}</p>
        <a href="/meals/{{this._id}}" class="btn btn-outline-info">More Info &rarr;</a>
        <br>
        <br>
    </div>
    {{/each}}
</div>
