body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5cdb95;
}
.navbar-default{
    background-color: #8ee4af;
    border-color: #Edf5e1;
}
img {
    border-radius: 25px;
    width: 100%;
}
p{
 color: red;
}
div{
    border-radius: 25px;
    padding: 10px;
}
.text{
    color: #Edf5e1;
    font-weight: bold;
}

.footer{
    background-color: #8ee4af;
}
a.fa {
    text-align: center;
    font-size: 30px;
  }
  
/* Add a hover effect if you want */
a.fa:hover {
opacity: 0.7;
}
.big{
    color: #05386b;
    font-size: x-large;
}
.med{
    font-size: medium;
}